<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/weather/static/">
</head>
<link rel="stylesheet" href="css/weather_dublin.css">
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(function(){

       $("#btn").click(function(){

           $("h1").html("hello world");

       });
    });


</script>

<body>

<h1>here is dublin weather</h1>

<input id="btn" type="button" value="change">

</body>
</html>